{% extends 'base.html' %}

{% block title%}Add User{% endblock%}

{% block content %}

<header>
    <h1>Add User</h1>
    <hr>
  </header>
  <main>

   <form method="POST">
      {% csrf_token %}

       Name : <input type="text" name="name"> </br></br>
       Email : <input type="text" name="email"> </br></br>
       Password: <input type="text" name="password"> </br></br>
       mobile_No: <input type="text" name="mobile_no"> </br></br>
       city: <input type="text" name="city"> </br></br>
       address: <input type="text" name="address"> </br></br>


       <input type="submit" name="Submit" value="Submit">

   </form>
  </main>

{% endblock %}
