{% extends 'base.html' %}

{% block title%}Edit User{% endblock %}

{% block content %}

<header>
    <h1>Edit User</h1>
    <hr>
  </header>
  <main>

   <form method="POST">
      {% csrf_token %}

       Name : <input type="text" name="name" value="{{data.name}}"> </br></br>
       mobile_No: <input type="text" name="mobile_no" value="{{data.mobile_no}}"> </br></br>
       city: <input type="text" name="city" value="{{data.city}}"> </br></br>
       address: <input type="text" name="address" value="{{data.address}}"> </br></br>

       <input type="submit" name="Update" value="Update">

   </form>
  </main>

{% endblock %}
