{% extends 'base.html' %}

{% block title%}Error{% endblock%}

{% block content %}

<header>
    <h1>Error</h1>
    <hr>
  </header>
  <main>
      <a href="/home">Home</a>
      <h1>{{error}}</h1>
  </main>

{% endblock %}
