<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

{% extends 'base.html' %}

{% block title%}Home{% endblock%}

{% block content %}

<header>
    <h1>Hello {{ user.name }}</h1>
    <hr>
</header>
<main>

    <a href="/logout"> logout </a> </br> </br></br>

    {% if user.role == 'Admin'%}

    <a href="/add-user">Add User</a> </br> </br></br>

    <table style="border: 10px">

        <tr>
            <th>name</th>
            <th>email</th>
            <th>mobile_no</th>
        </tr>
        {% for x in user_data %}
        <tr>
            <td>
                {{x.name}}
            </td>
            <td>
                {{x.email}}
            </td>
            <td>
                {{x.mobile_no}}
            </td>

            {% if user.id == x.id%}

            <td>
                <a href="/edit-user/{{x.id}}">Edit User</a>

            </td>

            {% else %}
            <td>
                <a href="/edit-user/{{x.id}}">Edit User</a>

            </td>
            <td>
                <a href="/delete-user/{{x.id}}">Delete User</a>

            </td>


        </tr>
        {% endif%}
        {% endfor%}

    </table>
    {% else %}


    <table>

        <tr>
            <th>name</th>
            <th>email</th>
            <th>mobile_no</th>
        </tr>
        {% for x in user_data %}
        {% if x.role != 'Admin'%}

        <tr>
            <td>
                {{x.name}}
            </td>
            <td>
                {{x.email}}
            </td>
            <td>
                {{x.mobile_no}}
            </td>

            {% if user.id == x.id%}

            <td>
                <a href="/edit-user/{{x.id}}">Edit User</a>

            </td>
            {% endif%}
        </tr>
        {% endif%}


        {% endfor%}

    </table>

    {% endif%}

</main>

{% endblock %}