{% extends 'base.html' %}

{% block title%}DjangoTask{% endblock%}

{% block content %}

<header>
  <h1>Django Task</h1>
  <hr>
</header>
<main>

  <a href="{% url 'login' %}">login</a>
</main>

{% endblock %}