{% extends 'base.html' %}

{% block title%}Login{% endblock%}

{% block content %}

<header>
    <h1>Login</h1>
    <hr>
  </header>
  <main>

    {% if error %}
        {{error}} </br></br>
    {% endif%}
   <form method="POST">
      {% csrf_token %}

       Email : <input type="text" name="email"> </br></br>
       Password: <input type="password" name="password"> </br></br>

       <input type="submit" name="login" value="login">

   </form>
  </main>
{% endblock %}
