{% extends 'base.html' %}

{% block title%}Permission{% endblock%}

{% block content %}

<header>
    <h1>Permission Denied</h1>
    <hr>
  </header>
  <main>
      <a href="/home">Home</a>
  </main>

{% endblock %}
